<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Hi {{username}},</p>
    <p>Your task <b>{{name}}</b> successfully updated to <b>{{status}}</b></p>
</body>
</html>