<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <p>Hi {{username}},</p>
  <p>Your task <b>{{task_name}}</b> due date is about to end in few mins.</p>
  <p>task name : <b>{{task_name}}</b></p>
  <p>due date : <b>{{due_dt}}</b></p>
  <p>status : <b>{{status}}</b></p>
</body>
</html>